*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html{
    height: 100%;
}

.wrapper{
    height: 100%;
    display: grid;
    
    grid-template-rows: minmax(70px, auto) 1fr minmax(50px, auto); 
    grid-column: 1fr;
}
.header{
    background-color: rgba(0, 0, 255, .3);
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.header_logo{
    font-size: 30px;
    justify-self: center;
}
.header_menu{
    justify-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
.header_list{
    display: flex;
    width: 60%;
    height: 100%;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
}
.content{
    background-color: rgba(255, 0, 0, .3);
    
}
.footer{
    background-color: rgba(0, 255, 0, .3);    
}